<div class="row"> 
    <section class="mt-2 border-bottom border-secondary border-5">
        
    </section><footer class="w-100 d-flex aling-items justify-content-center flex-wrap fs-5"><div><p class="mt-4 text-light"><a href="mailto:alfredogimenez431@gmail.com" target="_blank" style="text-decoration: none;"><font color="white">alfredogimenez431@gmail.com</font></a> | #Argentina programa 2023</p><p>Posadas-Misiones, Argentina</p><p><a href="#menu" style="text-decoration: none;"><font color="white">Volver al inicio?</font></a></p></div></footer>
    
</div>


    
  
