<div class="row">
    <section class="w-100 border-top border-5 pt-5 mt-4">
        <div>
            <h1 class="px-5">Proyectos hasta el momento</h1>
            <section class="container-fluid">
                <div class="row w-75 mx-auto fila-proyecto">
                    <div class="col-lg-6 col-md-12 col-sm-12 d-flex my-5 imagenes-wrap px-4"><a href="https://github.com/GimenezAlfredo/Calculadora" target="_blank"><img
                                class="difumacion" src="assets/imagenes/calculadora.jpg" alt="" width="200"
                                height="190"></a>
                        <div>
                            <h3 class="fs-4 mt-2 pt-1 px-4 pb-1">Proyecto en HTML</h3>
                            <p class="px-4 fs-5">En este proyecto realicé una calculadora web con js, html y css.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 d-flex my-5 imagenes-wrap px-4"><a href="https://github.com/GimenezAlfredo" target="_blank"><img
                                class="difumacion" src="assets/imagenes/portfolio.png" alt="" width="205"
                                height="190"></a>
                        <div>
                            <h3 class="fs-4 mt-2 pt-1 px-4 pb-1">Mi Portfolio Digital</h3>
                            <h5 class="px-4">Desarrollé este Porfolio con Java, JWT, Spring Boot, HTML, CSS, Typescript, Javascript y Angular.</h5>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>
</div>