<div class="row">
    <div class="col-lg-2 px-4 pt-3">
        <button type="button" class="btn btn-dark" routerLink="/editacercade/1" *ngIf="isLogged">
            Editar Persona
        </button>
    </div>
    <section class="container-fluid">
        <div class="row w-100 servicio-fila">
            <div class="col-lg-6 col-md-12 col-sm-12 d-flex pt-4 px-4 icono-wrap"><img id="portada"
                    src={{persona.img}} alt="" width="280" height="300">
                <div>
                    <h3 class="mt-4 px-5 pb-3 pt-4 text-center"><span><b>{{persona.nombre}}
                                {{persona.apellido}}</b></span></h3>
                    <p class="text-center fs-4 text-secondary">Developer Full Stack Jr</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 d-flex my-5 icono-wrap">
                <div>
                    <h3 class="mt-4 px-4 pb-1 text-center"><b>Acerca de mí...</b></h3>
                    <p class="text-center fs-4 px-4">{{persona.descripcion}}</p>
                </div>
            </div>
        </div>
    </section>
</div>